html
    margin: 0
    padding: 0
    body
        margin: 5vh 5vw
        padding: 0
        .mario
            display: flex
            flex-direction: column
            align-items: center
            .fila
                height: calc(90vh/16)
                display: flex
                flex-direction: row
                .celda
                    height: 100%
                    width: calc(90vh/16)
                    border: 1px solid white
                .rojo
                    background-color: #FE0000
                .azul
                    background-color: #0000FE
                .negro
                    background-color: #040000
                .amarillo
                    background-color: yellow
                .cafe
                    background-color: #502D17
                .cafe-oscuro
                    background-color: #2A0F04
                .piel
                    background-color: #FEB380